.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
assets/**
!assets/logo.png
.prettierrc.js
node_modules/
.parcel-cache/
